@font-face {
  font-family: "Jetbrains-mono";
  src: url(../media/JetBrainsMono-2.242/fonts/ttf/JetBrainsMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Jeko";
  src: url(../media/TextFonts.net_jeko-font-family/Jeko\ Regular.ttf) format("truetype");
}


#app {
    font-family: Avenir, Helvetica, Arial, sans-serif, Jetbrains-mono, Jeko;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  
body {
  /*background-image: url('../media/bta_background_mobile.svg');*/
  background-color: rgb(32, 32, 32);
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  padding-top: 25vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 10px 0px 20px;
  height: 90vh;
}

.content .homepage_content {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}

.content .homepage_content h1 {
  margin: 0px 10px 10px 10px;
  color: white;
  text-align: left;
  font-family: Jeko;
  font-size: 10vh;
  position: relative;
}

.content .homepage_content h3 {
  margin: 0px 10px 0px 10px;
  color:white;
  text-align: left;
  font-family: Jeko;
  font-size: 8vh;
}

.content .homepage_content .get_started_container {
  margin-bottom: 20px;
  text-align: center;
}

.content .homepage_content a.get_started {
  color: white;
  background-color: red;
  border-radius: 5px;
  padding: 7px;
  width: 8em;
  align-self: center;
  font-family: Jeko;
}

.content .homepage_content .social_container {
  margin-top: 10px;
  margin-left: 10px;
  align-self: center;
}

.content .homepage_content .social_container a.social {
  margin-right: 15px;
  margin-top: 20px;
  text-decoration: none;
  color: white;
  font-size: 1.25em;
}

.content .bubble_effect {
  flex-basis: 60%;
  transform: translate(15vw, -5vh);
}


.content .bubble_effect img.coding_img {
  position: relative;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  transform: translate(0, -10vh);
  object-fit: cover;
}

.content .bubble_effect img.presenting_img {
  position: relative;
  width: 17.5vw;
  height: 17.5vw;
  border-radius: 50%;
  transform: translate(1vw, -10vh);
  object-fit: cover;
}

.content .bubble_effect img.discussing_img {
  position: relative;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  transform: translate(-20vw, 23vh);
  object-fit: cover;
}

.content .bubble_effect img.studying_img {
  position: relative;

  width: 12.5vw;
  height: 12.5vw;
  border-radius: 50%;
  transform: translate(-16vw, -8vh);
  object-fit: cover;
}




nav {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0;
}

nav ul{
  margin: 0;
  padding: 0;
  margin: 0rem 1rem;
}

ul.topnav li{
  list-style: none;
  float: left;
}

ul.topnav li a{
  font-size: 1rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  text-align: center;
  font-family: Jetbrains-mono;
  position: relative;
  display: inline-block;
}

ul.topnav li.register_button {
  position: relative;
  float: right;
  margin: 0px 10px 0px 10px;
  text-decoration: none;
  color: white;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
  font-size: 1em;
  font-family: Jetbrains-mono;
}

ul.topnav li a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

ul.topnav li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
