h1 {
    font-family: Jetbrains-mono;
    color: white;
}

.register_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    align-items: center;
    font-family: Menlo;
    border-radius: 10px;
}

.register_container .ide_container {
    width: 90%;
    overflow:hidden;
    border-radius: 10px;
}

.register_container .ide_container nav.file_header {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0;
    background-color: #555555;
}

.register_container .ide_container nav.file_header ul {
    text-align: center;
}


.register_container .ide_container nav.file_header ul li{
    list-style: none;
    display: inline-block;
}

.register_container .ide_container nav.file_header ul li.element{
    float: left;
    color: #ABABAB;
    font-size: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
    margin-right: 5px;
    position: relative;
    display: inline-block;
}

.register_container .ide_container nav.file_header ul li.main_title{
    color: #ABABAB;
    font-size: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
    position: relative;
    display: inline-block;
    transform: translate(-20%, 0);
}

.register_container .terminal_container {
    background-color: black;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
    color: white;
}

.register_container .terminal_container li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.register_container .terminal_container input {
    background-color: black;
    border: 0;
    color: white;
    width: 30vw;

}

.register_container .terminal_container input:focus {
    outline-width: 0;
}

@media screen and (max-width: 650px) {
    .register_container .ide_container .ide_body {
        display: none;   
    }
}
